-
    const programs = [
        {
            name: 'Модуль',
            number: '1',
            title: 'Запись с первого взгляда',
            list: [
                {
                    icon: true,
                    title: '',
                    text: 'Формируем вашу персональную фишку, про которую вы напишете в шапке профиля'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Учимся делать не банальные и располагающие к тебе фото'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Раскачиваем beauty-reels: 3 лучших формата видео для сферы красоты'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Расхламление инстаграма'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Главный секрет продвижения в ВК'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Как стать тем, у кого покупают все'
                },
            ]
        },
        {
            name: 'Модуль',
            number: '2',
            title: 'Мастер, которому доверяют',
            list: [
                {
                    icon: true,
                    title: '',
                    text: 'Главное качество мастера, к которому всегда очередь'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Что бьюти-мастеру снимать в сторис'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Стильные сторис за 10 минут'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Эффективная самопрезентация бьюти-мастера'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Почувствуй себя телеведущей'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Лучший инструмент повышения охватов в сторис'
                },
            ]
        },
        {
            name: 'Модуль',
            number: '3',
            title: 'Как привлекать новых клиентов',
            list: [
                {
                    icon: true,
                    title: '',
                    text: 'Привлечение новой аудитории'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Как организовать конкурс, избежав наплыва халявщиков'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Таргет для бьюти-мастера'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Реклама бьюти-мастера в пабликах и у блогеров'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Еще один мегаэффективный инструмент привлечения аудитории'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Способ привлечь подписчиков, которым почти никто не пользуется <b>(зря!)</b>'
                },
            ]
        },
        {
            name: 'Модуль',
            number: '4',
            title: 'Мастер, к которому клиенты приходят сами',
            list: [
                {
                    icon: true,
                    title: '',
                    text: 'Ресурсное состояние'
                },
                {
                    icon: true,
                    title: '',
                    text: '7 навыков успешного человека'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Свобода жить так, как хочу: как сделать так, что ты управляла своим временем, а не график – тобой'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Как реагировать на критику'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Пока, самозванец, привет, уверенность'
                },
            ]
        },
        {
            name: 'Модуль',
            number: '5',
            title: 'Воронка продаж для бьюти-мастера',
            list: [
                {
                    icon: true,
                    title: '',
                    text: 'Как бьюти-мастеру настроить постоянный поток записей'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Воронка через инстаграм, воронка в ВК'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Как собирать отзывы и как преподносить их, чтобы они приносили клиентов'
                },

            ]
        },
        {
            name: 'Модуль vip',
            number: '',
            title: 'Доступен на индивидуальном тарифе',
            list: [
                {
                    icon: true,
                    title: '',
                    text: 'Как бьюти-мастеру создать свое обучение'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Обучение для новичков и наставничество'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Как продумать программу'
                },
                {
                    icon: true,
                    title: '',
                    text: 'Воронка продаж на курс'
                },
            ]
        },
        {
            name: 'Финальный эфир-выпускной',
            number: '',
            title: '',
            list: [
                {
                    icon: false,
                    title: 'Бонус 1:',
                    text: 'Готовые посты и пакет фото, с которыми можно вести блог, не задумываясь'
                },
                {
                    icon: false,
                    title: 'Бонус 2:',
                    text: 'Как создать свою студию красоты, чтобы ее можно было легко продать в случае переезда <b>(только в этом потоке!)</b>'
                },
                {
                    icon: false,
                    title: 'Бонус 3:',
                    text: 'ИП или самозанятость – как бьюти-мастеру оформляться и как платить налоги'
                },
                {
                    icon: false,
                    title: 'Бонус 4:',
                    text: 'Ценообразование бьюти-мастера. Какие цены ставить и как их поднимать'
                },
            ]
        },
    ]

section.programs
    .container
        .programs__title.title Программа наставничества

        .programs__box
            each program in programs
                .programs__item
                    .card-head
                        .card-head__text !{program.name}
                        if program.number !== ''
                            .card-head__number
                                span !{program.number}
                    if program.title !== ''
                        .programs__item-title !{program.title}

                    .programs__item-list
                        each item in program.list
                            .programs__item-list-item(class=(item.icon ? 'programs__item-list-item--icon' : '') )
                                if item.icon
                                    .programs__item-list-item-icon
                                        <svg width="18" height="26" viewBox="0 0 18 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9 0L10.4637 10.8858L18 13L10.4637 15.1142L9 26L7.53629 15.1142L0 13L7.53629 10.8858L9 0Z" fill="#F7F5F4"/>
                                        <path d="M9 0L10.4637 10.8858L18 13L10.4637 15.1142L9 26L7.53629 15.1142L0 13L7.53629 10.8858L9 0Z" fill="url(#paint0_linear_141_243)"/>
                                        <defs>
                                        <linearGradient id="paint0_linear_141_243" x1="21.0732" y1="15.2195" x2="7.9459" y2="20.6308" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#F55882"/>
                                        <stop offset="0.25" stop-color="#FF7DA0"/>
                                        <stop offset="0.489583" stop-color="#F03B6C"/>
                                        <stop offset="0.770833" stop-color="#FB668E"/>
                                        <stop offset="1" stop-color="#E97695"/>
                                        </linearGradient>
                                        </defs>
                                        </svg>
                                else
                                    .programs__item-list-item-title !{item.title}
                                .programs__item-list-item-text !{item.text}

