-
    const slides = [
        {
            avatar: 'students/1',
            name: 'Валентина',
            city: 'г. Тейково',
            profession: 'Мастер перманента',
            points: [
                {
                    type: 'gray',
                    point: 'Точка а',
                    text: 'Валя живет в маленьком городке с населением 30 тысяч человек. Чек за услугу - 3000 рублей. Поднимать цену страшно: а вдруг вообще записываться перестанут? От низкого чека усталость \n' +
                            'и выгорание. Вести соцсети тяжело: непонятно, о чем, клиентов приходит мало. Из-за низкой финансовой отдачи нет энергии проявляться, продавать, рассказывать. Блог ведется бессистемно, эфиры проводить страшно, есть скованность в подаче и хаос в действиях'
                },
                {
                    type: 'pink',
                    point: 'Точка б',
                    text: 'Валя полностью переупаковала свой блог. Доход вырос в 3 раза! Появилась своя эстетика, свой стиль. Валя стала узнаваемым и востpебованным мастером. Начала принимать не только в своем городе, но и в областном центре. Выходит на новый уровень преподавателя. А в эфиры выходит, как телезвезда'
                },
            ]
        },
        {
            avatar: 'students/1',
            name: 'Валентина',
            city: 'г. Тейково',
            profession: 'Мастер перманента',
            points: [
                {
                    type: 'gray',
                    point: 'Точка а',
                    text: 'Валя живет в маленьком городке с населением 30 тысяч человек. Чек за услугу - 3000 рублей. Поднимать цену страшно: а вдруг вообще записываться перестанут? От низкого чека усталость \n' +
                            'и выгорание. Вести соцсети тяжело: непонятно, о чем, клиентов приходит мало. Из-за низкой финансовой отдачи нет энергии проявляться, продавать, рассказывать. Блог ведется бессистемно, эфиры проводить страшно, есть скованность в подаче и хаос в действиях'
                },
                {
                    type: 'pink',
                    point: 'Точка б',
                    text: 'Валя полностью переупаковала свой блог. Доход вырос в 3 раза! Появилась своя эстетика, свой стиль. Валя стала узнаваемым и востребованным мастером. Начала принимать не только в своем городе, но и в областном центре. Выходит на новый уровень преподавателя. А в эфиры выходит, как телезвезда'
                },
            ]
        },
    ]

section.students
    .container
        .students__title.title Мои ученики:

        .students__slider
            each slide in slides
                .students__slide
                    .students__slide-inner
                        .student
                            .student__img
                                picture
                                    source(type='image/webp', data-srcset='img/' + slide.avatar + '.webp').lazy
                                    img(data-src='img/' + slide.avatar + '.jpg').lazy
                            .student__content
                                .student__name !{slide.name}
                                .student__city !{slide.city}
                                .student__profession !{slide.profession}

                    .points
                        each point in slide.points
                            if point.type === 'gray'
                                .points__item.points__item--gray
                                    .points__item-title
                                        span.points__item-point !{point.point}
                                        span.points__item-icon
                                            picture
                                                source(type='image/webp', data-srcset='img/students/smile--gray.webp').lazy
                                                img(data-src='img/students/smile--gray.jpg').lazy
                                    .points__item-text !{point.text}
                                    .points__item-arrow
                                        <svg width="68" height="38" viewBox="0 0 68 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <g clip-path="url(#clip0_134_270)">
                                        <path d="M60.2664 7.46349C60.4199 7.8065 60.5248 7.90752 60.5608 8.0487C61.0672 17.6436 58.6012 25.78 52.464 31.892C50.9183 33.4402 48.9747 34.4633 46.7837 34.982C42.1023 36.1395 37.0647 33.8295 34.0274 29.1664C32.4328 26.7439 31.2645 24.1814 31.1682 21.3192C32.0742 20.5757 33.0038 19.8726 33.7938 19.0885C35.0761 17.8017 35.7772 16.1507 35.5725 14.0542C35.4539 12.502 34.749 11.291 33.8214 10.9662C32.6038 10.54 31.6383 11.102 31.1506 12.0883C30.4701 13.4572 29.9525 14.9474 29.5273 16.4378C29.259 17.4046 29.2117 18.5129 29.1173 19.5406C24.8213 21.1223 20.6522 17.7665 19.2656 11.6562C19.7233 11.1736 20.2155 10.6709 20.6498 10.148C22.2144 8.15648 22.8969 5.75974 22.2113 2.91626C21.9468 1.82726 21.4629 0.75787 20.2688 0.372011C19.3647 0.0876349 18.3992 0.649608 17.8095 1.85745C16.9031 3.79008 16.7505 5.98657 16.8062 8.22388C16.8483 9.01001 16.8903 9.79615 16.9669 10.5622C10.4624 13.2672 2.49783 9.41833 1.29346 1.79691C0.868672 2.09819 0.46586 2.2786 0.35294 2.56049C0.229031 2.90281 0.349541 3.42713 0.492028 3.83057C1.93735 7.58288 4.13827 10.5711 7.8034 11.9506C10.5409 13.0054 13.2473 13.2135 15.9711 12.8171C16.3519 12.7576 16.7327 12.698 17.1371 12.6789C17.1716 12.6588 17.253 12.7195 17.4505 12.8207C17.6274 13.2041 17.8859 13.6481 18.0753 14.1323C20.4995 19.9629 23.3855 22.0661 29.1526 22.06C29.2966 22.6247 29.4876 23.2701 29.6206 23.8952C30.5332 27.5253 32.2733 30.6737 35.0025 33.3005C39.4346 37.5841 45.1198 38.7065 50.09 36.3001C52.7937 34.9967 54.9711 33.0268 56.7505 30.532C61.0275 24.4759 63.0764 17.4469 62.2703 9.16138C62.2547 8.73809 62.1812 8.29451 62.1656 7.87123C62.1766 7.81079 62.2221 7.73028 62.3585 7.48876C63.4332 8.70066 64.0816 10.0526 64.7645 11.3845C65.4583 12.6559 66.1067 14.0079 66.8366 15.4205C67.6626 14.7776 67.6785 14.0117 67.486 13.2051C67.223 12.2773 67.029 11.3094 66.5936 10.482C65.3938 8.26206 64.1361 6.02182 62.7405 3.86185C61.6267 2.18629 60.5517 2.16351 59.7912 3.63294C58.2027 6.77319 56.6377 9.9538 55.0727 13.1344C54.8234 13.6578 54.69 14.2218 54.4657 14.9469C55.6707 15.2723 56.0345 14.6282 56.3873 14.0446C57.5915 11.8305 58.8663 9.73755 60.2664 7.46349ZM19.9392 2.18513C21.25 5.15107 20.743 7.76994 18.6755 9.1354C18.6293 6.67642 18.5265 4.35838 19.9392 2.18513ZM33.2253 12.7182C34.1288 15.3808 33.4073 17.3139 31.1628 18.296C31.3735 16.1198 31.6327 14.1856 33.2253 12.7182Z" fill="url(#paint0_linear_134_270)"/>
                                        </g>
                                        <defs>
                                        <linearGradient id="paint0_linear_134_270" x1="23.4841" y1="-9.42988" x2="45.1976" y2="27.8553" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="#6EE450"/>
                                        <stop offset="0.25" stop-color="#B2FC9F"/>
                                        <stop offset="0.489583" stop-color="#77ED59"/>
                                        <stop offset="0.770833" stop-color="#A3E193"/>
                                        <stop offset="1" stop-color="#98F381"/>
                                        </linearGradient>
                                        <clipPath id="clip0_134_270">
                                        <rect width="68" height="38" fill="white"/>
                                        </clipPath>
                                        </defs>
                                        </svg>

                            else if point.type === 'pink'
                                .points__item.points__item--pink
                                    .points__item-title
                                        span.points__item-point !{point.point}
                                        span.points__item-icon
                                            picture
                                                source(type='image/webp', data-srcset='img/students/smile--pink.webp').lazy
                                                img(data-src='img/students/smile--pink.jpg').lazy
                                    .points__item-text !{point.text}

        .btn__center
            a(href='#').students__btn.btn
                span Хочу так же!
